html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
}
header {
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}
footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
main {
    max-width: 800px;
    margin: auto;
}
input {
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 12px;
}
textarea {
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}
button {
    padding: 12px;
    font-size: 110%;
}
.main-page-book-review {
    background-color: white;
    padding: 24px;
    border: 1px solid blue;

    display: grid;
    grid-template-columns: auto 1fr;
}
.detail-page-book-review {
    background-color: white;
    padding: 24px;
    border: 1px solid blue;
}
.book-review-form {
    background-color: white;
    padding: 24px;
}
.book-cover {
    height: auto;
    width: 200px;
    grid-row-start: span 10;
}
.book-rating {
    font-size: 125%;
}
.book-authors {
    color: dimgray;
}